# CONFIG
.env
.env.backup
.env.production
auth.json

# NPM
/node_modules
npm-debug.log
yarn-error.log

# PUBLIC
/public/build
/public/hot
/public/storage

# COMPOSER
/vendor
composer.lock

# OTHER
/storage/*.key
/.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.fleet
/.idea
/.vscode
